$blanco:white;
$diam-icon:40px;


.white{
    color:$blanco;
}

body {
    font-family: "Lato", "Serif";
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #777;
    background: #fff;
    overflow-x: hidden;
    position: relative;
}

.pt-50{
    padding-top:50px;
}

@mixin bg-size($tam){
-webkit-background-size: $tam;
  -moz-background-size: $tam;
  -o-background-size: $tam;
  background-size: $tam;
}

.hero-image {
    background: url(../images/galletas.jpg) no-repeat center center;
    @include bg-size(cover);
    color: $blanco;

    .hero-opacity {
        background-color: rgba(90, 90, 90, 0.6);
        height: 100%;
        padding: 14% 0;
        width: 100%;
        h1 {
            font-size: 3.5em;
        }
        p {
            font-size: 1.1em;
            min-width: 280px;
            width: 48%;
        }
            .icon {
                color: white;
                margin-left: 5%;
            }
    }
}

.site-name img {
    margin-top:-9px;
    width: 156px;
    height: 37px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin btn-default($var) {
  font-size: 17px;
  margin: 3*$var 0 $var;
  margin-right: $var;
  line-height: 2*$var;
  padding: 6px 2*$var;
  height: 5*$var;
  border: 2px solid #3eb0f7;
  background: transparent;
  transition: all 0.4s;
  color: #3eb0f7;
  border-radius: 10*$var;
}

.btn-default{@include btn-default(10px);}


p {
  padding: 0 0 1em;
  margin: 9px 0 0 0;
}

.social{
        ul{
            padding: 0;
            list-style: none;
        }
        li{
            display: inline-block;
            padding-right: .3em;
        
            a{
              display: block;
              width: $diam-icon;
              height: $diam-icon;
              line-height: $diam-icon;
              color: #3eb0f7;
              border-radius: 50%;
              background: #fff;
              border: solid 1px #3eb0f7;
              -webkit-transition: all .8s ease;
              transition: all .8s ease;
            }
          }
}